*{
    padding: 0px;
    margin: 0px;
}

.container{
    border: solid black 1px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.pixel{
    border: none;
    color: white;
}