*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(23, 84, 110);

}

#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 90px;
}

.container{
    border: solid black 1px;
    height: 950px;
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.pixel{
    border: none;
    color: white;
}

button{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}